body{

background-color: rgb(237, 221, 215);

}
#msg{
  background-color:whitesmoke;
}
.btn{
 background-color: orangered;
 color: white;
}
#user{
  background-color: white;
}
h5{
  color: orange;
}
/* <!FOOTER> */

.text-small {
    font-size: 0.9rem;
  }
  .h1{
    color: orange;
    font-size: x-large;
  }
  a {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  a:hover, a:focus {
    text-decoration: none;
    color: orange;
  }
  
  .form-control {
    background: black;
    border-color: #545454;
  }
  
  .form-control:focus {
    background: #212529;
  }
  
  #footer{
    background: #212529;
    height: 210px;
  }
  